<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="redmart">
  <test name="assignment">
  	<classes>
  		<class name="com.redmart.testdriver.RedMartTestDriver"></class>
  	</classes>
  </test> <!-- assignment -->
</suite> <!-- redmart -->
